body {
    background-color: blueviolet;
}
h1{

    color :aliceblue;
    text-align:center;
    font-size: x-large;

}

.btn{
    margin-top: 10px;
    width: 60%;
    margin-left: 20%;
    background-color: brown;
    color: blueviolet;
    box-shadow: black 2px 3px 4px 5px ;
}

textarea{
    margin-top: 20px;
    width: 40%;
    margin-left: 10px;
}
img{
    margin-left: 25%;
    width: 50%;
}
