body{
    background-color: rgb(114, 189, 194);
    height: 100vh;
}

.h1_register{
    color :aliceblue;
    text-align:end;
    font-size: x-large;

}

.image1{
   z-index: -1;
   display: flex;
   margin: 0 auto;
   margin-bottom: 0px;
}
.btn{
    border-radius: 50%;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}

.p{
    background-image:url(welcome.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

}
